<!doctype html>
<html lang="en">
<!-- <head>
</head> -->
<body>
  <div class="page">
    <div class = "main">
      <div class = "title" >
          <h1 class="center"> Download your shows To watch offline. </h1>
          <!-- <br> -->
          <h2 class="center" > Save your favorites easily and always have something to watch. </h2>
        </div>
        <div class="stranger">
          <img src="/assets/mobile-0819.jpg" class="picture"/>
          <div class="stranger-things" >
            <img src="/assets/boxshot.png" class="thing"/>
            <h3 class="stack"> Stranger Things</h3>
            
            <h4 class="stack"> Downloading...</h4>
          
            <img src="/assets/download-icon.gif" class="downloading"/>
          </div>
        </div>
    </div> 
 </div>
</body>
</html>
