
@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    font-display: optional;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'),url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}



.main{
    /* background-color: rgb(153, 103, 103); */
    /* height: 100vh;
    width: 100vw; */
    margin: 0;
    padding: 10;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  
    display: flex;
    align-items: center;
    /* width: 60%; */
    justify-content: space-between;
    font-family:'Netflix Sans'

    

}

.title{
    position: absolute;
    top: 40%;
    left: 100%;
    transform: translate(-50%, -50%);
    margin-left: 45%;
    width: 85% ;
    max-height: 10%;
    padding-bottom: 50px;
    text-align: left;
    
}

h1{
    font-weight: 800;
    font-size: 50px;
}

h2{
    font-weight: 100;
}


.stranger{

        width: 80%;
        height: 80%;            
        /* position: absolute; */
        top: 0;
        left: 0;
        opacity: 0.8;
        justify-content: space-between;
        /* right: 100%; */
        justify-items: center;
        left:10%
        
        
        

}

.stranger-things{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    border: 2px solid gray;
    box-sizing: border-box;
 
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;

  

   
}

.picture{
    max-width: 80;
}

.stack{
    position: absolute;
    left: 25%;
    top: 10%;

  
}

.thing{
    max-height: 9vh;
    padding-left: 2vh;


}

.downloading{
    height: 6vh;
    /* width: 8vw; */
    /* padding-left:5%; */
}

h3{
    text-align: center;
    /* margin-top: 5; */
    /* margin-bottom: 0; */
    /* line-height: 1em; */
    font-size: 18px;
    padding-bottom: 2px;
    margin-top: 5px;
    margin-left: auto;

}

h4{
    color: rgb(47, 95, 255);
    /* margin-top: 8vh; */
    text-align: center;
    margin-top: 0;
    font-size: small;
    margin-top: 4vh;

  
    background-color: rgb(0, 0, 0);

    /* margin-left: -50vw; */

    /* padding-right: 60vh; */
}